.board {
   margin: 0 auto;
}

p, h1, form {
   text-align: center;
}

td {
   border: 1px solid black;
   padding: 5px;
   text-align: center;
}

td:hover {
   background-color: lightcoral;
   cursor: pointer;
}